<p>Hola desde el segundo componente</p>
<h1>Variable Contador</h1>
<p>{{valorContador}}</p>
<button (click)="incrementar()">Incrementar</button>
<button (click)="decrementar()">Decrementar</button>

<app-hijo [recibeHijo] = "mensajePadre" 
(enviaHijo)="reciboMensajeHijo($event)"
(enviarAPadre) ="recibeEventoDelHijo()"
(enviarAPadre2)="recibeEventoDelHijo2()"
/>
<br>
<br>
<h4>El mensaje recibido desde el hijo es: {{mensajeHijo}}</h4>

<h1>Eventos que se reciben desde el hijo</h1>
<h4>{{eventoDesdeElHijo}}</h4>

